<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>net8.0</TargetFramework>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
  </PropertyGroup>
  <ItemGroup>
    <ProjectReference Include="../../src/{{KTM_CREATE_MODULE_NAME}}/{{KTM_CREATE_MODULE_NAME}}.csproj" />
  </ItemGroup>
</Project>
